<footer>
    <div class="footer-upper-container">
        <div class="footer-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="footer-logo">
            <img src="https://i.ibb.co/BGfYNdh/Component-12-1.png" alt="Lysr Logo" class="ly-image">
        </div>
    </div>
    <div class="footer-lower-container">
        <span>Copyright &copy;
            2020, Lycan Space Research. |
            All Rights
            Reserved. |</span>
    </div>
</footer>