<div class="main_box">
    <div class="main-logo">
        <a href="/">
            <img src="https://i.ibb.co/BGfYNdh/Component-12-1.png" alt="" class="ly-image">
        </a>
    </div>
    <input type="checkbox" id="check">
    <div class="btn_one" style="height: 0;">
        <label for="check">
            <i class="fas fa-bars"></i>
        </label>
    </div>
    <div class="sidebar_menu">
        <div class="logo">
                <img src="https://i.ibb.co/Fz2cH79/Logo-white-2x.png" alt="" class="ly-image">
        </div>
        <div class="btn_two">
            <label for="check">
                <i class="fas fa-times"></i>
            </label>
        </div>
        <div class="menu">
            <ul>
                <li><i class="fas fa-qrcode"></i>
                    <a href="/">Home</a>
                </li>
                <li>
                    <i class="fas fa-question-circle"></i>
                    <a href="/about">About</a>
                </li>
                <li>
                    <i class="fas fa-phone-volume"></i>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="social_media">
            <ul>
                <a href="https://www.facebook.com/lycanspaceresearch/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/lysrmedia"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/lysr.in/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/69082070/admin/"><i class="fab fa-linkedin-in"></i></a>
            </ul>
        </div>
    </div>
</div>